* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url('img/bg.jpg');
}
.container {
	margin: auto;
}
header {
    text-align: center;
    color: #fff;
}
.catfood {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.food1,.food2,.food3 {
    width: 320px;
    height: 480px;
    margin: 40px;
    border-radius: 18px;
    background: linear-gradient(135deg, transparent 33px, #fff 0) right;
    cursor: pointer;
}
.food1:hover {
    box-shadow: 3px 3px 0 3px #1698d9;
}
.food2:hover {
    box-shadow: 3px 3px 0 3px #d91667;
}
.food3:hover {
    box-shadow: 3px 3px 0 3px #b3b3b3;
}

